@font-face {
  font-family: "Caudex", "docktrin";
  src: url(../asses/BRANDING/Fuentes/Caudex-Regular.ttf), url(../asses/BRANDING/Fuentes/docktrin.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.piePagina {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: #432616be;
  font-family: "Caudex";
  margin-left: 0px;
  margin-bottom: 0px;
  height: 130px;
  width: 100%; }
  .piePagina .rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px; }
  .piePagina .datos {
    color: white;
    padding: 20px; }

.piePagina nav a {
  text-decoration: none;
  color: white; }

.menuNav {
  background-color: #432616be;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px; }

.logo {
  width: 100px;
  transition: all 0.3s;
  margin-left: 20px; }
  .logo .logo:hover {
    transform: scale(1.2, 1.2);
    color: #4e433d; }

.listaMenu {
  list-style: none;
  font-family: "Caudex";
  display: flex;
  justify-content: space-around;
  width: 600px;
  align-items: center; }
  .listaMenu li {
    list-style: none; }
    .listaMenu li a {
      text-decoration: none;
      color: white; }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none; }

#check {
  display: none; }

@media (max-width: 768px) {
  .checkbtn {
    display: block; }
  header nav ul {
    position: fixed;
    width: 100vh;
    background: #432616be;
    flex-direction: column;
    top: 100px;
    left: -100vh;
    text-align: center;
    transition: all 0.5s; }
  header nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px; }
  header nav ul li a {
    font-size: 20px; }
  #check:checked ~ ul {
    left: 0; } }

.fondo {
  background-image: url("../asses/img/DSC_3167.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Caudex";
  text-align: center;
  height: 800px; }
  .fondo .slogan {
    padding: 180px;
    color: white;
    font-family: "Caudex"; }
  .fondo .london {
    padding: 10px;
    color: white;
    font-family: "Caudex"; }
  .fondo .sabores {
    padding: 2px;
    color: white;
    font-family: "Caudex"; }

.container-fondo {
  background-color: #bebdbbc4; }

.container-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5em 20em 22em;
  grid-template-areas: "titulo titulo titulo " "container-foto1 trago1  ." ". trago2  container-foto2" "container-foto3 trago3 ."; }

.titulo {
  font-family: "Caudex";
  grid-area: titulo;
  text-align: center;
  margin: auto; }

.container-foto1 {
  margin: auto;
  grid-area: container-foto1; }

.trago1 {
  font-family: "Caudex";
  grid-area: trago1;
  text-align: center;
  margin: auto; }

.container-foto2 {
  margin: auto;
  grid-area: container-foto2; }

.trago2 {
  font-family: "Caudex";
  grid-area: trago2;
  text-align: center;
  margin: auto; }

.container-foto3 {
  margin: auto;
  grid-area: container-foto3; }

.trago3 {
  font-family: "Caudex";
  grid-area: trago3;
  text-align: center;
  margin: auto; }

.coctel {
  width: 210px;
  border-radius: 0.7em; }

/*tablet*/
@media (max-width: 768px) {
  .container-main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "titulo titulo titulo " "container-foto1 trago1  ." ". trago2  container-foto2" "container-foto3 trago3 ."; } }

/*celular*/
@media (max-width: 576px) {
  .container-main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "titulo" "container-foto1" "trago1" "container-foto2" "trago2" "container-foto3" "trago3"; } }

.contacto-main {
  background-color: #bebdbbc4;
  display: flex;
  justify-content: center;
  height: 600px; }
  .contacto-main .formulario {
    width: 400px;
    background-color: #432616be;
    padding: 30px;
    margin: 100px;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: "Caudex";
    border-radius: 5px; }
    .contacto-main .formulario .controls {
      width: 100%;
      padding: 6px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid black;
      font-family: "Caudex";
      text-align: center;
      font-size: 13px; }
  .contacto-main .boton-formulario {
    width: 100%;
    background-color: black;
    border-radius: 4px;
    padding: 6px;
    color: white;
    font-size: 16px; }
  .contacto-main input {
    display: block; }

.galeria-main {
  background-color: #bebdbbc4; }
  .galeria-main .tituloGin {
    font-family: "Caudex";
    display: flex;
    justify-content: center; }
  .galeria-main .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .galeria-main .flex-container .foto {
      width: 15em;
      border-radius: 0.7em;
      box-shadow: 0.2em 0.2em 1em 0.2em #362a24;
      margin: 1em; }

.nosotros-main {
  background-color: #bebdbbc4;
  height: 800px; }
  .nosotros-main div {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .nosotros-main div h1 {
      margin: 1em;
      font-family: "Caudex"; }
    .nosotros-main div p {
      margin-left: 1em;
      font-family: "Caudex"; }
