@mixin propiedades-flex($direction,$justify,$align){

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    padding: 10px;
}
@mixin propiedades-grid1($area,$text){

    font-family: $font-family;
    grid-area: $area;
    text-align: $text;
    margin:auto;
}
@mixin propiedades-grid2($margin,$area){

    margin: $margin;
    grid-area: $area;
}
@mixin index($padding,$color,$font){

    padding: $padding;
    color: $color;
    font-family: $font;
}