.menuNav {
    background-color: $background-principal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    width: 100px;
    transition: all 0.3s;
    margin-left: 20px;
    .logo:hover{
        transform: scale(1.2, 1.2);
        color: #4e433d;
    }
}

.listaMenu {
    list-style: none;
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    width: 600px;
    align-items: center;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: $color-fuente;
        }
    }
}
.checkbtn{
    font-size: 30px;
    color: $color-fuente;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    header nav ul{
        position: fixed;
        width: 100vh;
        background: $background-principal;
        flex-direction: column;
        top: 100px;
        left: -100vh;
        text-align: center;
        transition: all 0.5s;
    }
    header nav ul li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    header nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left:0;
    }
}