.contacto-main{
    background-color: $background-secundario;
    display: flex;
    justify-content: center;
    height: 600px;
    .formulario{
        width: 400px;
        background-color: $background-principal;
        padding: 30px;
        margin: 100px;
        margin-top: 50px;
        text-align: center;
        color: $color-fuente;
        font-family: $font-family;
        border-radius: 5px;
        .controls{
            width: 100%;
            padding: 6px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid black;
            font-family: $font-family;
            text-align: center;
            font-size: 13px;
        }
    }
    .boton-formulario{
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-radius: 4px;
        padding: 6px;
        color: white;
        font-size: 16px;
    }
    input{
        display: block;
    }
}
