.nosotros-main{
    background-color: $background-secundario;
    height: 800px;
    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1{
            margin: 1em;
            font-family: $font-family;
        }
        p{
            margin-left: 1em;
            font-family: $font-family;
        }
    }
}