.fondo {
    background-image: url("../asses/img/DSC_3167.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $font-family;
    text-align: center;
    height: 800px;
    .slogan {
        @include index(180px, $color-fuente, $font-family)
    }
    .london{
        @include index(10px, $color-fuente, $font-family)
    }
    .sabores{
        @include index(2px, $color-fuente, $font-family)
    }
}